[Unit]
Description=Sweeper cleaner by al1h3n
After=network-online.target

[Service]
# Change ExecStart to an actual path
ExecStart=/usr/local/bin/sweeper.sh
Type=simple

[Install]
WantedBy=multi-user.target

# On imperative distros:
# sudo systemctl daemon-reload
# sudo systemctl enable sweeper.service
# sudo systemctl start sweeper

# To revert add remove program from startup:
# sudo systemctl stop sweeper
# sudo systemctl disable sweeper